<div [@routerTransition]>
    <app-page-header [heading]="'CICS X-Ref Report'" [icon]="'fa fa-th-list'"></app-page-header>
</div>
<div>
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header" id="content">
      <label id="compName" name="compName">{{compName}}</label>
      <div>		
        &nbsp; <button id="showCodeBtn" class="btn btn-primary" style="float:center;" (click)="showCode()">Show Code</button>
        &nbsp; <button id="expandedCodeBtn" class="btn btn-primary" style="float:center;" (click)="showExpandedCode()">Show Expanded Code</button> &nbsp;
      </div>
      <label class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </label>
    </div>
    <div class="modal-body" id="contentBody">
        <div id="canvasCode"></div>
        <div id="expandedCode"></div>
    </div>
  </ng-template>
</div>
<!-- <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2"><label style="font-weight:bold">Application: </label></div>
    <div class="col-md-3">
    <select class="form-control" ng-model="cmbAll" id="appln" (change)="applicationTypeOnchange($event)">
      <option id="appln" value="">--Select Application--</option>
      <option id="appln" *ngFor="let application of applicationTypeList" value={{application}}>
        {{application}}
      </option>
      </select>
    </div>
    <div class="col-md-1">
      <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
    </div>
</div> -->
<br>
<div class="row">
    <div class="col-sm-1" style="text-align: right;">
      <label id="search">Search:</label>
    </div>
    <div class="col-md-2">
      <input type="text" placeholder="Min 3 characters" id="searchFilter">
    </div>
    <div class="col-md-2" style="float:right;">
      <button id="searchButton" (click)="filterTable()" class="btn btn-primary">Search</button>
    </div>
    <div class="col-md-1" style="float:left;">
      <button id="clearButton" (click)="clearFilter()" class="btn btn-primary">Clear Search</button>
    </div>
    <div class="col-md-3" style="text-align:center;">
      <label id="totalrecords"></label>
    </div>
    <div class="col-md-1">
      <div [style.visibility]="showLoader ? 'visible' : 'hidden'" style="text-align: center"><i class="fa fa-spinner fa-spin fa-4x"></i>
      </div>
    </div>
    <div class="col-md-2" style="float:right;">
      <a (click)="exportAsXLSX()" onmouseover="" class="menu_links" style="cursor: pointer;"><img src="assets/images/export.png" height="30" width="30" style="float:right"/></a>
    </div>
    <div>
      <div id="table-cont" class="col-xl-12 table-cont">
        <table id="xrefDataTbl" style="overflow-wrap:break-word;border-spacing:0px;" class="table table-striped table-bordered table-sm row-border hover ">
          <thead class="xrefDataTblHeader">
            <tr>
                <th style="text-align:center; color: white; background-color:dimgray; font-size: 9pt;" *ngFor="let header of dataSets.headers">{{header | uppercase}}</th>            
            </tr>
          </thead>
          <tbody class="xrefDataTblBody">
            <tr *ngFor="let item of dataSets.data">
                <td style="overflow-wrap: break-word;" (click)="open(content, item[header], header, item)" *ngFor="let header of dataSets.headers">{{item[header]}}</td>
              <!-- <td style="overflow-wrap: break-word;" *ngFor="let header of dataSets.headers">{{item[header]}}</td> -->
              <!-- <td *ngFor="let item1 of item | keyvalue" style="text-align:center">{{item[item1.key]}}</td>   -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>

      

