certifi==2019.9.11
chardet==3.0.4
Click==7.0
docx==0.2.4
docxtpl==0.10.0
et-xmlfile==1.0.1
Flask==1.1.1
Flask-Cors==3.0.8
idna==2.8
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.10.3
lxml==4.5.2
MarkupSafe==1.1.1
numpy==1.17.2
openpyxl==3.0.0
pandas==0.25.1
Pillow==7.2.0
pyaes==1.6.1
pyasn1==0.4.8
pymongo==3.9.0
python-dateutil==2.8.0
python-docx==0.8.10
pytz==2019.3
pywin32==228
requests==2.22.0
rsa==4.0
six==1.12.0
SortedSet==1.0
Telethon==1.14.0
termcolor==1.1.0
urllib3==1.25.6
Werkzeug==0.16.0
xlrd==1.2.0
XlsxWriter==1.2.8
