<div [@routerTransition]>
    <app-page-header [heading]="'Rule Category View Report'" [icon]="'fa fa-th-list'"></app-page-header>
</div>
<div>
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header" id="content">
      <label id="compName" name="compName">{{compName}}</label>
      <label class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </label>
    </div>
    <div class="modal-body" id="contentBody">
        <div id="canvasCode"></div>
    </div>
  </ng-template>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2"><label style="font-weight:bold">Rule Cateogry: </label></div>
    <div class="col-md-3">
    <select class="form-control" ng-model="cmbAll" id="appln" (change)="applicationTypeOnchange($event)">
      <option value="">--Select Category--</option>
      <option *ngFor="let application of applicationTypeList" value={{application}}>
        {{application}}
      </option>
      </select>
    </div>
    <div class="col-md-1">
      <button class="btn btn-primary" id="submitBtn" (click)="onSubmit()">Submit</button>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-1">
      <div [style.visibility]="showLoader ? 'visible' : 'hidden'" style="text-align: center"><i class="fa fa-spinner fa-spin fa-4x"></i>
      </div>
    </div>
    <div class="col-md-1">
    </div>
</div>
<!-- <div id="xrefDataContent" class="row angular-with-newlines">
    <div class="col-xl-12">
      <table id="xrefDataTbl" style="overflow-wrap:break-word;border-spacing:0px;width:100%;" class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
          <tr>
              <th style="text-align:center; color: white; background-color:dimgray; font-size: 9pt;" *ngFor="let header of dataSets.headers">{{header | uppercase}}</th>            
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of dataSets.data">
            <td style="overflow-wrap: break-word;" *ngFor="let header of dataSets.headers">{{item[header]}}</td>
            </tr>
      </tbody>
    </table>
  </div>
</div> -->
<div class="row">
    <div class="col-sm-1" style="text-align: right;">
      <label id="search">Search:</label>
    </div>
    <div class="col-md-2">
      <input type="text" placeholder="Min 3 characters" id="searchFilter">
    </div>
    <div class="col-md-2" style="float:right;">
      <button id="searchButton" (click)="filterTable()" class="btn btn-primary">Search</button>
    </div>
    <div class="col-md-1" style="float:left;">
      <button id="clearButton" (click)="clearFilter()" class="btn btn-primary">Clear Search</button>
    </div>
    <div class="col-md-3" style="text-align:center;">
      <label id="totalrecords"></label>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <a (click)="exportAsXLSX()" onmouseover="" class="menu_links" style="cursor: pointer;">
        <img src="assets/images/export.png" height="25" width="25" style="float:right"/></a>
    </div>
    <div>
      <div id="table-cont" class="col-xl-12 table-cont">
        <table id="xrefDataTbl" style="overflow-wrap:break-word;border-spacing:0px;" class="table table-striped table-bordered table-sm row-border hover ">
          <thead class="xrefDataTblHeader">
            <tr>
                <th style="text-align:center; color: white; background-color:dimgray; font-size: 9pt;" *ngFor="let header of dataSets.headers">{{header | uppercase}}</th>            
            </tr>
          </thead>
          <tbody class="xrefDataTblBody">
            <tr *ngFor="let item of dataSets.data">
              <!-- (click)="open(content, item[header], header, item)" -->
                <td style="overflow-wrap: break-word;"  *ngFor="let header of dataSets.headers">{{item[header]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>


      

