<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IMDB</title>
</head>
<body>
<br>
	  <a href = '/home?limit=10&offset=10'>click here for Homepage</a>&nbsp;&nbsp;&nbsp;
           <a href = '/add_data'>click here to add data</a>&nbsp;&nbsp;&nbsp;
           <a href = '/delete'>click here to delete data</a>&nbsp;&nbsp;&nbsp;
            <a href = '/search_by_name'>click here to Search with movie name </a>&nbsp;&nbsp;&nbsp;
           <a href = '/search_by_genre'>click here to Search with genre </a>&nbsp;&nbsp;&nbsp;
            <a href = '/edit'>click here to Edit data  </a>&nbsp;&nbsp;&nbsp;


	
</body>
</html>