<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MYMDB</title>
</head>
<body>

   <form action = "/login" method = "post">
       <p><h4>Username </h4><input type = "text" name = username></p>
       <p><h4>Password </h4><input type = "password" name = password></p>
      <p><input type = submit value = Login></p>

   </form>
     <a href = '/search_by_name'>click here to Search with movie name </a>&nbsp;&nbsp;&nbsp;
     <a href = '/search_by_genre'>click here to Search with genre </a>&nbsp;&nbsp;&nbsp;
</body>
</html>